/* Cores
#ff7708 -> Laranja
##f0f8ff -> AliceBlue
*/
* {margin: 0;padding: 0;box-sizing: border-box;}
body{
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f3f4f5;
}
.container{
    width: 100%;
    font-family: 'Poppins';
}
.inicio{
    width: 100%;
    min-width: 375px;
    min-height: 600px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-image: url('fundo.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.inicio .sobre{
    font-size: 1.9rem;
    text-align: center;
}
.inicio h3{
    color: white;
    text-align: center;
}
.inicio p{
    text-align: center;
    color: #ff7708;
    text-shadow: 0.2px 0.2px 0.2px #ffe2c6;
}
.container .foto{
  width: 650px;
}
.foto img{
  width: 100%;
}
.trafego{
    background-color: #f3f4f5;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    font-weight: bold;
}
.trafego .gestor{
    font-weight: bold;
    color: #ff7708;
}
.meuservico h2{
    color:#ff7708;
    background-color: #f3f4f5;
    text-align: center;
}

.container3{
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap;
    border: hidden;
    background-image: url('fundo2.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .container3 h2{
    width: 100%;
      color: #ff7708;
      justify-content: center;
      align-items: center;
      text-align: center;
      position: relative;
  }
  .container3 .title{
      text-align: center;
      text-transform: uppercase;
      color: #ff7708;
      justify-content: center;
  }
  .container3 .card{
    position: relative;
    font-weight: bold;
    margin: 0px 20px;
  }
  .container3 .card .face{
    width:300px;
    height: 200px;
    transition:.4s;
    
  }
  .container3 .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
  } 
  .container3 .card .face.face1 i{
      color: #ff7708;
      font-size: 5em;
  }
  .container3 .card:hover .face.face1{
    transform: translateY(0);
    box-shadow:
      inset 20px 0 80px #ff7708,
      inset -20px 0 80px #8b25ff
  }
  .container3 .card .face.face1 .content{
    opacity: 90;
    transition:  0.5s;
    text-align: center;
  }
  
  .container3 .card:hover .face.face1 .content{
    opacity: 1;
   
  }
  
  .container3 .card .face.face1 .content i{
    font-size: 30px;
    color: white;
     
  }
  
  .container3 .card .face.face1 .content h3{
    font-size: 1em;
    color: white;
    text-align: center;
  }
  .fab {
    background-color: white;
    color: black;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

  .container3 .card .face.face1 .content a{
     transition: .5s;
  }
  
  .container3 .card .face.face2{
     position: relative;
     background: whitesmoke;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 20px #ff7708;
    transform: translateY(-100px);
  }
  
  .container3 .card:hover .face.face2{
      transform: translateY(0);

  }
  
  .container3 .card .face.face2 .content p, a{
    font-size: 0.85em;
    margin: 0 ;
    padding: 0;
    color:#000000;
    font-size: bold;
    font-family: 'Poppins';
  }
  
  .container3 .card .face.face2 .content a{
    text-decoration:none;
    color: black;
    box-sizing: border-box;
    outline : 1px dashed #0fa7de;
    padding: 10px;
    margin: 15px 0 0;
    display: inline-block;
    align-items: center;
    justify-content: center;
  }
  
  .container3 .card .face.face2 .content a:hover{
    background: #ff7708;
    color: whitesmoke; 
    box-shadow: inset 0px 0px 10px #ff7708;
  }
  .ofereco{
    width: 100%;
    min-height: 500px;
    height: 25%;
    display: flex;
        flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    background-image: url('fundo4.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
  }

  .ofereco h3{
    text-align: center;
    color:#ff7708;
    text-shadow: 1px 1px 1px floralwhite;
    text-transform: uppercase;
  }
  .cartao1{
    width: 300px;
    color: white;
    text-shadow: 1px 1px 1px #8b25ff;
    margin: 30px 0 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background: rgba( 37, 34, 34, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  .cartao2{
    width: 300px;
    color: white;
    text-shadow: 1px 1px 1px #8b25ff;
        margin: 30px 0 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background: rgba( 37, 34, 34, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  .orcamento{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: 170px;
    font-size: .8em;
    color: #ff7708;
    text-shadow: 1px 1px 1px floralwhite;
    background-image: linear-gradient(to right,#121312, rgb(27, 27, 27), #181818);
  }
  .icons{
    display: inline-flex;
    justify-content: center;
    margin: 25px 0 0 0;
  }
  .icons a{
    margin: 0 25px;
    text-decoration: none;
    color: #fff;
    display: block;
    position: relative;
  }
  .icons a .layer{
    width: 55px;
    height: 55px;
    transition: transform 0.3s;
  }
  .icons a:hover .layer{
    transform: rotate(-35deg) skew(20deg);
  }
  .icons a .layer span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: all 0.3s;
  }
  .icons a .layer span.fab, span.far{
    font-size: 30px;
    line-height: 55px;
    text-align: center;
  }
  span.fas, span.far{
    font-size: 30px;
    line-height: 55px;
    text-align: center;
  }
  .icons a:hover .layer span:nth-child(1){
    opacity: 0.2;
  }
  .icons a:hover .layer span:nth-child(2){
    opacity: 0.4;
    transform: translate(5px, -5px);
  }
  .icons a:hover .layer span:nth-child(3){
    opacity: 0.6;
    transform: translate(10px, -10px);
  }
  .icons a:hover .layer span:nth-child(4){
    opacity: 0.8;
    transform: translate(15px, -15px);
  }
  .icons a:hover .layer span:nth-child(5){
    opacity: 1;
    transform: translate(20px, -20px);
  }
  .icons a:nth-child(1) .layer span,
  .icons a:nth-child(1) .text{
    color: #8b25ff;
    border-color: #8b25ff;
    text-shadow: 1px 1px 1px white;
  }
  .icons a:nth-child(2) .layer span,
  .icons a:nth-child(2) .text{
    color: black;
    border-color: black;
    text-shadow: 1px 1px 1px white;
  }
  .icons a:nth-child(3) .layer span,
  .icons a:nth-child(3) .text{
    color: #E1306C;
    border-color: #E1306C;
    text-shadow: 1px 1px 1px white;
  }
  .icons a:nth-child(4) .layer span,
  .icons a:nth-child(4) .text{
    color: #b6048f;
    border-color: #b6048f;
    text-shadow: 1px 1px 1px white;
  }
  .icons a:nth-child(5) .layer span,
  .icons a:nth-child(5) .text{
    color: #4709ac;
    border-color: #4709ac;
    text-shadow: 1px 1px 1px white;
  }
  .icons a:hover:nth-child(1) .layer span{
    box-shadow: -1px 1px 3px #8b25ff;
  }
  .icons a:hover:nth-child(2) .layer span{
    box-shadow: -1px 1px 3px white;
  }
  .icons a:hover:nth-child(3) .layer span{
    box-shadow: -1px 1px 3px #E1306C;
  }
  .icons a:hover:nth-child(4) .layer span{
    box-shadow: -1px 1px 3px #b6048f;
  }
  .icons a:hover:nth-child(5) .layer span{
    box-shadow: -1px 1px 3px #4709ac;
  }
  .icons a .text{
    position: absolute;
    left: 50%;
    bottom: -5px;
    opacity: 0;
    font-weight: 500;
    transform: translateX(-50%);
    transition: bottom 0.3s ease, opacity 0.3s ease;
  }
  .icons a:hover .text{
    bottom: -35px;
    opacity: 1;
  }
