/*Paleta de cores
color: #07deaf -> green
color: #0fa7de -> Blue
*/
* {margin: 0;padding: 0;box-sizing: border-box;}
html{
  min-width: 400px;
}
body{
  width: 100%;
  font-family: 'Poppins';
  overflow-x: hidden;
}
.copy{
  min-width: 500px;
  display: flex;
  justify-content: center;
  color: white;
  background-image: linear-gradient(to right, #233632 5%, #151816 , #030705 );
  background: linear-gradient(217deg, #151816, rgba(255,0,0,0) 70.71%),
  linear-gradient(127deg, #151816 , #030705 70.71%),
  linear-gradient(336deg, #233632, rgba(0,0,255,0) 70.71%);
}
.container{
  min-width: 500px;
  height: 100%;
  min-height: 550px;
  background-image: linear-gradient(to right, #233632 5%, #151816 , #030705 );
  background: linear-gradient(217deg, #151816, rgba(255,0,0,0) 70.71%),
  linear-gradient(127deg, #151816 , #030705 70.71%),
  linear-gradient(336deg, #233632, rgba(0,0,255,0) 70.71%);
}
  .container3{
    width: 100%;
    min-height: 545px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    background-image: linear-gradient(to right, #233632 5%, #151816 , #030705 );
    background: linear-gradient(217deg, #151816, rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, #151816 , #030705 70.71%),
    linear-gradient(336deg, #233632, rgba(0,0,255,0) 70.71%);
  }
  .container3 .card{
    position: relative;
  }
  .container3 .card .face{
    width:300px;
    height: 200px;
    transition:.4s;
    
  }
  .container3 .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-content:center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
  } 
  .container3 .card:hover .face.face1{
    transform: translateY(0);
    color: #0fdeaf;
  }
  .container3 .card .face.face1 .content{
    opacity: 90;
    transition:  0.5s;
    text-align: center;
  }
  
  .container3 .card:hover .face.face1 .content{
    opacity: 1;
   
  }
  
  .container3 .card .face.face1 .content i{
    font-size: 3em;
    color: white;
    display: inline-block;
  }
  
  .container3 .card .face.face1 .content h3{
    font-size: 1em;
    color: white;
    text-align: center;
    
  
  }
  
  .container3 .card .face.face1 .content a{
     transition: .5s;
  }
  
  .container3 .card .face.face2{
     position: relative;
     background: whitesmoke;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 20px #0fdeaf;
    transform: translateY(-100px);
  }
  
  .container3 .card:hover .face.face2{
      transform: translateY(0);
  
  
  }
  
  .container3 .card .face.face2 .content p, a{
    font-size: 0.85em;
    margin: 0 ;
    padding: 0;
    color:#000000;
    font-size: bold;
    font-family: 'Poppins';
  }
  
  .container3 .card .face.face2 .content a{
    text-decoration:none;
    color: black;
    box-sizing: border-box;
    outline : 1px dashed #0fa7de;
    padding: 10px;
    margin: 15px 0 0;
    display: inline-block;
    align-items: center;
    justify-content: center;
  }
  
  .container3 .card .face.face2 .content a:hover{
    background: #0fdeaf;
    color: whitesmoke; 
    box-shadow: inset 0px 0px 10px #0fdeaf;
  } 
/*  Rodapé Section  */
.rodape{
  min-height: 80px;
  min-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(to right, #233632 5%, #151816 , #030705 );
  background: linear-gradient(217deg, #151816, rgba(255,0,0,0) 70.71%),
  linear-gradient(127deg, #151816 , #030705 70.71%),
  linear-gradient(336deg, #233632, rgba(0,0,255,0) 70.71%);
}
a{
  color: white;
}
ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li{
  position: relative;
  display: block;
  color: #fff;
  font-size: 30px;
  height: 2em;
  width: 2em;
  background: #171515;
  line-height: 60px;
  border-radius: 50%;
  margin: 0 15px;
  cursor: pointer;
  transition: .5s;
}
ul li:before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: inherit;
  width: inherit;
  /* background: #d35400; */
  border-radius: 50%;
  transform: scale(.9);
  z-index: -1;
  transition: .5s;
}
ul li:nth-child(1):before{
  background: #fff;
}
ul li:nth-child(2):before{
  background: #1DA1F2;
}
ul li:nth-child(3):before{
  background: #E1306C;
}
ul li:nth-child(4):before{
  background: #4267B2;
}
ul li:nth-child(5):before{
  background: white;
}
ul li:hover:before{
  filter: blur(3px);
  transform: scale(1.2);
box-shadow: 0 0 15px #d35400;
}
ul li:nth-child(1):hover:before{
  box-shadow: 0 0 15px #fff;
}
ul li:nth-child(2):hover:before{
  box-shadow: 0 0 15px #1DA1F2;
}
ul li:nth-child(3):hover:before{
  box-shadow: 0 0 15px #E1306C;
}
ul li:nth-child(4):hover:before{
  box-shadow: 0 0 15px #4267B2;
}
ul li:nth-child(5):hover:before{
  box-shadow: 0 0 15px white;
}
ul li:nth-child(1):hover{
  color: whitesmoke;
  box-shadow: 0 0 15px #fff;
  text-shadow: 0 0 15px #fff;
}
ul li:nth-child(2):hover{
  color: #26a4f2;
  box-shadow: 0 0 15px #1DA1F2;
  text-shadow: 0 0 15px #1DA1F2;
}
ul li:nth-child(3):hover{
  color: #e23670;
  box-shadow: 0 0 15px #E1306C;
  text-shadow: 0 0 15px #E1306C;
}
ul li:nth-child(4):hover{
  color: #456cba;
  box-shadow: 0 0 15px #4267B2;
  text-shadow: 0 0 15px #4267B2;
}
ul li:nth-child(5):hover{
  color: white;
  box-shadow: 0 0 15px white;
  text-shadow: 0 0 15px white;
}
